#popup_container {
	font-family:'Lucida Grande',arial;
	font-weight:bold;
	
	text-align:left;
	font-size: 12px;
	width: 364px; /* Dialog will be no smaller than this */
	height: 86px; /* Dialog will wrap after this width */
	background: #fff;
	
	border:solid 1px #dedede;	
	color: #000;
	box-shadow: 0 0 7px silver;	
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	display:none;
	line-height: 1.75em;
	color: #666;
	
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	
}

#popup_content.alert {
	
}

#popup_content.confirm {
	
}

#popup_content.prompt {
	
}

#popup_message {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
}

#popup_panel {	
	padding: 5px;				   
    width: 356px;	 
    height: 28px;          
    border-top: 1px solid #cccccc;
    background: #f2f2f2;
	
}

#popup_prompt {
	margin: .5em 0em;
}